* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  background-color: #F2F5F4;
} 
.navbar {
  position: fixed;
  transition: top 0.4s;
  width: 100%;
  opacity: 0.9;
  margin-top: 5px;
}
.navbar li {
  display: inline;
  padding: 20px;
  font-size: 17px;
}
.navbar a {
  text-decoration: none;
  color: #233142
}
.navbar a:hover {
  color: #233142
}
.name:after {
  content: "Mette";
}
.name:hover:after {
  content: "meh-teh";
  font-style: italic;
  cursor: crosshair;
  
}
.about ul {
  padding: 0;
}
.about li {
  display: inline;
  padding: 6px;
  font-size: 18px;
}
.home .title {
  font-size: 80px;
  margin-top: 140px;
}
.home p {
  font-size: 50px;
}
.section {
    padding: 100px;
}
.section h2 {
  margin-bottom: 30px;
}
.contact ul {
  margin-top: 30px;
}
.contact li {
  padding: 10px;
  display: inline;
}
.contact a {
  font-size: 20px;
  padding: 10px 12px;
  background-color: #443ee3;
  color: white;
  border-radius: 45px;
}
.project {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.project-image {
  padding: 20px;
  width: 50%;
  position: relative;
}
.project-image img {
  max-width: 600px;
  object-fit: contain;
  width: 100%;
  cursor: pointer;
}
.project-text {
  padding: 20px;
  width: 50%;
}
.fade-in {
  opacity: 0;
  transition: 300ms ease-in;
}
.fade-in.active {
  opacity: 1;
}
