body {
  font-family: verdana;
  font-size: 18px;
} 
.navbar {
  position: fixed;
  transition: top 0.4s;
  width: 100%;
  opacity: 0.9;
  margin-top: 5px;
}
.navbar li {
  display: inline;
  padding: 20px;
  font-size: 17px;
}
a {
  text-decoration: none;
  color: #233142
}
a:hover {
  color: #233142
}
.about ul {
  padding: 0;
}
.about li {
  display: inline;
  padding: 6px;
  font-size: 15px;
}
.home .title {
  font-size: 80px;
  margin-top: 140px;
}
.home p {
  font-size: 50px;
}
.section {
    padding: 100px;
    margin-left: 200px;
    margin-right: 200px;
}
.section h2 {
  margin-bottom: 30px;
}
